<h1>Project Name : {{ projectname }}</h1>
<p>เพิ่ม/แก้ไข ข้อมูลบุคคล</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="content-wrapper">
    <div class="row material2">
      <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
        <ejs-textbox
          placeholder="คำนำหน้าชื่อ"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="title"
          [(ngModel)]="person.title"
        ></ejs-textbox>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
        <ejs-textbox
          placeholder="ชื่อ"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="name"
          [(ngModel)]="person.name"
        ></ejs-textbox>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
        <ejs-textbox
          placeholder="นามสกุล"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="surname"
          [(ngModel)]="person.surname"
        ></ejs-textbox>
      </div>
    </div>
    <hr />
    <div class="row material2">
      <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
        <ejs-textbox
          placeholder="Title"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="etitle"
          [(ngModel)]="person.etitle"
        ></ejs-textbox>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
        <ejs-textbox
          placeholder="Name"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="ename"
          [(ngModel)]="person.ename"
        ></ejs-textbox>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
        <ejs-textbox
          placeholder="Surname"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="esurname"
          [(ngModel)]="person.esurname"
        ></ejs-textbox>
      </div>
    </div>
    <hr />
    <div class="row material2">
      <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
        <ejs-textbox
          placeholder="เลขประจำตัวประชาขน"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="citizennumber"
          [(ngModel)]="person.citizennumber"
        ></ejs-textbox>
      </div>
      <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
        <ejs-textbox
          placeholder="โทรศัพท์เคลื่อนที่"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="mobile"
          [(ngModel)]="person.mobile"
        ></ejs-textbox>
      </div>
      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
        <ejs-textbox
          placeholder="email"
          cssClass="e-outline"
          floatLabelType="Auto"
          formControlName="email"
          [(ngModel)]="person.email"
        ></ejs-textbox>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
      <button ejs-button cssClass="e-info">Info</button>
    </div>
  </div>
</form>
